In [1]:
import pandas as pd
import numpy as np

1. Cargad el csv que guardasteis ayer.

Antes de seguir con las preguntas, este DataFrame estÃ¡ terriblemente sucio. En las prÃ³ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.

Para ello vamos a utilizar el mÃ©todo .dropna() de pandas. TendrÃ©is que ejecutar la siguiente lÃ­nea de cÃ³digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [2]:
df_attack2 = pd.read_csv('./attack2.csv')
df_attack2.head()

df_null= df_attack2.dropna(inplace = True)
#pd.options.display.max_columns = None

In [3]:
df_null= df_attack2.dropna(inplace = True)
df_attack2

,Unnamed: 0,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,13,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,5528,5545,1901.07.30,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5905,5905,5922,1868.05.13,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...

In [7]:
pd.options.display.max_columns = None
df_attack2.head(5)

,Unnamed: 0,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,13,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

2. **Â¿CuÃ¡l es el nÃºmero de ataques que se han producido en Estados Unidos?**

In [10]:
attackusa = df_attack2[df_attack2['country'] == 'USA']
attackusa.head()

,Unnamed: 0,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,35,35,2018.03.31,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
53,53,53,2017.12.31,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
60,60,60,2017.11.24,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,25,13h45,"White shark, 4.6 m",http://sharkattackfile.net/spreadsheets/pdf_di...

3. **Â¿Y en EspaÃ±a?**

3.1 Â¿En quÃ© regiones se han producido los ataques?

3.2 Â¿CuÃ¡ntos ataques se han producido en cada Ã¡rea?

In [19]:
attackspain = df_attack2[df_attack2['country'] == 'SPAIN']
attackspain["area"].unique()
attackspain["area"].value_counts()
#attackspain = df_attack2[df_attack2["country"].isin(["Doctor", "Master"] )]
#attackspain.head()

CastellÃ³n              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

In [ ]:
attackspain2 = df_attack2[df_attack2['country'] == 'SPAIN'] #Pensar como hacerlo

4.  **Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.** ðŸ“Œ Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el mÃ©todo isin().
Hacedlo con ambas herramientas.

4.1 Â¿CuÃ¡ntos ataques se han producido en cada pais?

4.2 Â¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

4.4 Â¿Y despuÃ©s del 2000?

In [ ]:
attack34 = df_attack2[((df_attack2['country'] == 'USA')) | ((df_attack2['country'] == 'AUSTRALIA'))]
attack34

In [27]:
attack3 = df_attack2[df_attack2["country"].isin(["USA" , "AUSTRALIA"])]
attack3.head()
attack3["country"].value_counts()

USA          719
AUSTRALIA    324
Name: country, dtype: int64

In [30]:
attack4 = df_attack2[((df_attack2['country'] == 'AUSTRALIA')) & ((df_attack2['activity'] == 'Paddling'))]
attack4
#En Australia no juegan a eso

Empty DataFrame
Columns: [Unnamed: 0, unnamed: 0, case number, year, type, country, area, location, activity, name, sex , age, time, species , href]
Index: []

4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

In [35]:
attack5 = df_attack2[((df_attack2['country'] == 'AUSTRALIA')) & ((df_attack2['year'] < 2000))]
attack5.head()
attack5["year"].value_counts()

1961.0    9
1959.0    6
1960.0    5
1989.0    5
1963.0    5
         ..
1947.0    1
1965.0    1
1952.0    1
1953.0    1
1880.0    1
Name: year, Length: 66, dtype: int64

4.4 Â¿Y despuÃ©s del 2000?

In [36]:
attack6 = df_attack2[((df_attack2['country'] == 'AUSTRALIA')) & ((df_attack2['year'] > 2000))]  #Â¿Que pasa con el 2000? Â¿Por que nadie le quiere? T_T
attack6.head()
attack6["year"].value_counts()

2012.0    17
2015.0    14
2009.0    13
2011.0    12
2007.0    12
2016.0    11
2014.0    10
2008.0    10
2005.0     9
2017.0     9
2006.0     9
2013.0     8
2004.0     7
2018.0     7
2010.0     7
2002.0     5
2003.0     4
2001.0     3
Name: year, dtype: int64

5. **Extraed unicamente los ataques a mujeres.**

In [39]:
attackgirls= df_attack2[df_attack2['sex '] == 'F']
attackgirls

,Unnamed: 0,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,53,53,2017.12.31,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,71,71,2017.10.22,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,75,75,2017.10.05,2017.0,Unprovoked,USA,Hawaii,"KamaÂ‘ole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4151,4151,4163,1958.04.05,1958.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Uvongo,Paddling in knee-deep water,Fay Jones Bester,F,28,11h10,3 m [10'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4170,4170,4182,1957.12.30,1957.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Margate,Standing,Julia Painting,F,14,12h40,1.8 m [6'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4678,4678,4690,1942.12.26,1942.0,Unprovoked,AUSTRALIA,New South Wales,"Bantry Bay, near Ironstone Point, Middle Harbo...",Dog paddling or standing,Denise Rosemary Burch,F,15,10h50,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4706,4706,4718,1942.01.04,1942.0,Unprovoked,AUSTRALIA,New South Wales,"Egg Rock, Middle Harbor, Sydney",Swimming,Zita Steadman,F,28,15h00,"Bull shark, 4 m [13']",http://sharkattackfile.net/spreadsheets/pdf_di...
4913,4913,4925,1934.12.31.b,1934.0,Unprovoked,AUSTRALIA,New South Wales,GeorgeÂ’s River at Kentucky,Splashing,Beryl Morrin,F,13,20h15,"Tiger shark, 1.5 m [5']",http://sharkattackfile.net/spreadsheets/pdf_di...