In [21]:
import pandas as pd
import numpy as np

1. Cargad el csv que guardasteis ayer.

Antes de seguir con las preguntas, este DataFrame estÃ¡ terriblemente sucio. En las prÃ³ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.

Para ello vamos a utilizar el mÃ©todo .dropna() de pandas. TendrÃ©is que ejecutar la siguiente lÃ­nea de cÃ³digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [22]:
df_attack2 = pd.read_csv('./attack2.csv')
df_attack2.head()
del df_attack2['Unnamed: 0']

df_null= df_attack2.dropna(inplace = True)
#pd.options.display.max_columns = None

In [23]:
df_null= df_attack2.dropna(inplace = True)
df_attack2

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,5545,1901.07.30,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5905,5922,1868.05.13,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...

In [24]:
pd.options.display.max_columns = None
df_attack2.head(5)

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

2. **Â¿CuÃ¡l es el nÃºmero de ataques que se han producido en Estados Unidos?**

In [25]:
attackusa = df_attack2[df_attack2['country'] == 'USA']
attackusa.head()

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,35,2018.03.31,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
53,53,2017.12.31,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
60,60,2017.11.24,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,25,13h45,"White shark, 4.6 m",http://sharkattackfile.net/spreadsheets/pdf_di...

3. **Â¿Y en EspaÃ±a?**

3.1 Â¿En quÃ© regiones se han producido los ataques?

3.2 Â¿CuÃ¡ntos ataques se han producido en cada Ã¡rea?

In [26]:
attackspain = df_attack2[df_attack2['country'] == 'SPAIN']
attackspain["area"].unique()
attackspain["area"].value_counts()
#attackspain = df_attack2[df_attack2["country"].isin(["Doctor", "Master"] )]
#attackspain.head()

CastellÃ³n              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

In [27]:
attackspain2 = df_attack2[df_attack2['country'] == 'SPAIN'] #Pensar como hacerlo

4.  **Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.** ðŸ“Œ Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el mÃ©todo isin().
Hacedlo con ambas herramientas.

4.1 Â¿CuÃ¡ntos ataques se han producido en cada pais?

4.2 Â¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

4.4 Â¿Y despuÃ©s del 2000?

In [28]:
attack34 = df_attack2[((df_attack2['country'] == 'USA')) | ((df_attack2['country'] == 'AUSTRALIA'))]
attack34

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,21,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,35,2018.03.31,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,5375,1912.01.26,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...
5481,5498,1905.03.26,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [29]:
attack3 = df_attack2[df_attack2["country"].isin(["USA" , "AUSTRALIA"])]
attack3.head()
attack3["country"].value_counts()

USA          719
AUSTRALIA    324
Name: country, dtype: int64

In [30]:
attack4 = df_attack2[((df_attack2['country'] == 'AUSTRALIA')) & ((df_attack2['activity'] == 'Paddling'))]
attack4
#En Australia no juegan a eso

Empty DataFrame
Columns: [unnamed: 0, case number, year, type, country, area, location, activity, name, sex , age, time, species , href]
Index: []

4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

In [31]:
attack5 = df_attack2[((df_attack2['country'] == 'AUSTRALIA')) & ((df_attack2['year'] < 2000))]
attack5.head()
attack5["year"].value_counts()

1961.0    9
1959.0    6
1960.0    5
1989.0    5
1963.0    5
         ..
1947.0    1
1965.0    1
1952.0    1
1953.0    1
1880.0    1
Name: year, Length: 66, dtype: int64

4.4 Â¿Y despuÃ©s del 2000?

In [32]:
attack6 = df_attack2[((df_attack2['country'] == 'AUSTRALIA')) & ((df_attack2['year'] > 2000))]  #Â¿Que pasa con el 2000? Â¿Por que nadie le quiere? T_T
attack6.head()
attack6["year"].value_counts()

2012.0    17
2015.0    14
2009.0    13
2011.0    12
2007.0    12
2016.0    11
2014.0    10
2008.0    10
2005.0     9
2017.0     9
2006.0     9
2013.0     8
2004.0     7
2018.0     7
2010.0     7
2002.0     5
2003.0     4
2001.0     3
Name: year, dtype: int64

5. **Extraed unicamente los ataques a mujeres.**

In [33]:
attackgirls= df_attack2[df_attack2['sex '] == 'F']
attackgirls.head()

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,53,2017.12.31,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,71,2017.10.22,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,75,2017.10.05,2017.0,Unprovoked,USA,Hawaii,"KamaÂ‘ole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

6. **Â¿CuÃ¡ntas mujeres fueron atacadas en EspaÃ±a?**

In [34]:
attackgirlsspain = df_attack2[((df_attack2['country'] == 'SPAIN')) & ((df_attack2['sex '] == 'F'))]
attackgirlsspain.head(5)

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
98,98,2017.08.26.b,2017.0,Invalid,SPAIN,CastellÃ³n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...

7. **Extraed los ataques que se hayan producido en el aÃ±o 2000, 1997 y 2006. Utilizad el mÃ©todo isin() para resolver este ejercicio.**

In [35]:
attack7 = df_attack2[df_attack2["year"].isin([2000, 1997, 2006] )]
attack7.head()

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
1407,1412,2006.12.18,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,1413,2006.12.11,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1409,1414,2006.12.10,2006.0,Unprovoked,USA,California,"Dillon Beach, Marin County",Surfing,Royce Fraley,M,43,11h50,"White shark, 12' to 15'",http://sharkattackfile.net/spreadsheets/pdf_di...
1410,1415,2006.12.06,2006.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Fishing,Peter Willoughby,M,25,"""Evening""","Raggedtooth shark, 150-kg",http://sharkattackfile.net/spreadsheets/pdf_di...
1411,1416,2006.12.02,2006.0,Unprovoked,AUSTRALIA,Western Australia,Wharton Beach,Body boarding,Zac Golebiowski,M,15,07h30,"White shark, 5m",http://sharkattackfile.net/spreadsheets/pdf_di...

8.**Si extraemos los valores Ãºnicos de la columna species nos podemos dar cuenta que estÃ¡ un poco sucia y extraer informacion Ãºtil de la misma. En este ejercicio tendrÃ©is que extraer los ataques que han ocurrido por tiburÃ³n blanco (lo encontraremos en la columna species como algo que contenga white o White)**. 

Usad el mÃ©todo str.contains() para resolver este ejercicio.

In [41]:
attacktiburon = df_attack2[df_attack2['species '] == 'white']
attacktiburon['species '].unique()

array([], dtype=object)

In [44]:
patron2 = 'White'

attacktiburon = df_attack2[df_attack2["species "].str.contains(patron2, regex=True)]
attacktiburon

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,24,2018.04.22,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
34,34,2018.04.03,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,15h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
60,60,2017.11.24,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,25,13h45,"White shark, 4.6 m",http://sharkattackfile.net/spreadsheets/pdf_di...
71,71,2017.10.22,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,5120,1927.12.28,1927.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Little Brak River,Swimming,Ockert Stephanus Heyns,M,17,11h00,"White shark, 4.4 m [14.5'] .",http://sharkattackfile.net/spreadsheets/pdf_di...
5212,5225,1922.05.06,1922.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"SimonÂ’s Town, False Bay",Swimming,Edward G. Pells,M,18,A.M.,"White shark, 12', identity confirmed by tooth ...",http://sharkattackfile.net/spreadsheets/pdf_di...
5216,5229,1922.03.02,1922.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Bathing in knee-deep water,Mervyn Gannon,M,21,11h00,"White shark, 2.4 m [8']",http://sharkattackfile.net/spreadsheets/pdf_di...
5218,5231,1922.02.04,1922.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Swimming,Milton Coughlan,M,18,15h30,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5528,5545,1901.07.30,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

9. **Extraed ahora los ataques por tiburÃ³n blanco o tigre. Utilizad el mÃ©todo str.contains() para resolver este ejercicio.**

In [51]:
df_attack2['species '].values[0:]

array(['White shark', 'Tiger shark', "Bull shark, 6'", ..., "12' shark",
       'Bull shark', 'Identified as C. gangeticus by Dr. J. Fayrer'],
      dtype=object)

In [46]:
attacktiburon1 = df_attack2[df_attack2['species '] == 'shark']
attacktiburon1

Empty DataFrame
Columns: [unnamed: 0, case number, year, type, country, area, location, activity, name, sex , age, time, species , href]
Index: []

In [61]:
patron2 = 'White'
patron3 = 'Tiger'

attacktiburon = df_attack2[(df_attack2["species "].str.contains(patron3,regex=True))|(df_attack2["species "].str.contains(patron2,regex=True))]

attacktiburon.head()

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
18,18,2018.04.28.b,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
23,23,2018.04.23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,24,2018.04.22,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...

10. **Utilizando la columna de 'year' cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el aÃ±o sea menor que 2000 pondremos siglo-XX y el resto de los aÃ±os siglo-XXI.**

In [71]:
condiciones = [
    (df_attack2['year'] < 2000), (df_attack2['year'] >= 2000)
    ]
opciones = ['Siglo-XX', 'Siglo-XXI']
df_attack2['siglo'] = np.select(condiciones, opciones)
df_attack2

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href,siglo
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XXI
6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XXI
8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XXI
10,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XXI
13,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,5545,1901.07.30,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XX
5631,5648,1894.11.28,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XX
5667,5684,1892.03.02,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XX
5797,5814,1880.11.25,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XX
5905,5922,1868.05.13,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,Siglo-XX

In [73]:
nueva_posicion = df_attack2.pop('siglo') 

df_attack2.insert(3, 'siglo', nueva_posicion)
df_attack2

,unnamed: 0,case number,year,siglo,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Siglo-XXI,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,6,2018.06.03.a,2018.0,Siglo-XXI,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,8,2018.05.26.b,2018.0,Siglo-XXI,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,10,2018.05.24,2018.0,Siglo-XXI,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,13,2018.05.13.a,2018.0,Siglo-XXI,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,5545,1901.07.30,1901.0,Siglo-XX,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,5648,1894.11.28,1894.0,Siglo-XX,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,5684,1892.03.02,1892.0,Siglo-XX,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,5814,1880.11.25,1880.0,Siglo-XX,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5905,5922,1868.05.13,1868.0,Siglo-XX,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...