**En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.**

**Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:**

**1. Cread una columna nueva y una funci√≥n que nos el mes donde ocurri√≥ el ataque. Tened en cuenta que no todos las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).**

**üí° Pista üí°Pod√©is usar regex.**

In [5]:
import pandas as pd
import regex as re
import numpy as np 
import datetime

attackito_supremo= pd.read_csv("./attackito_supremo.csv", index_col = 0)
attackito_supremo.head(2)

,case number,year,type,country,area,location,activity,name,sex,age,time,species,fatal (y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018

In [8]:
nuevas_columnas = {col: col.lower().replace(" ", "_") for col in attackito_supremo}
attackito_supremo.rename(columns = nuevas_columnas, inplace = True)
attackito_supremo.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018

In [ ]:
#fijarse en fecha (el mes viene como letra) (grupo de 3 letras)
#Usar llaves para numeros espec√≠ficos

**2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no es as√≠ üò≠. Cread y una columna nueva y una funci√≥n que devuelva unicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.**

In [12]:
df_as = attackito_supremo.copy()

In [13]:
df_as['fatal_(y/n)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

Usamos .replace y .strip para igualar todos los valores unicos que sean Y y N aunque est√©n escritos de diferente forma

In [ ]:
df_as = df_as[['fatal_(y/n)'].replace('N', 'n'), ].abs
#.format pensar

In [ ]:
#fatal se encarga de hacer que 2017 sea Nam
#sentencia de control ('If')
#intenta usar try y except para casos extra√±os

def fatal(x):
    try:
        if x == 'N' or 'n'
            return x = 'n'
        elif x == 'Y' or 'y'
            return x = 'y'
        else:
            return x = 'Nam'
    except:
        return 'GL'

In [ ]:
df_as['fatal_2.0'] = df_as['fatal_(y/n)'].apply(fatal)
df_as.head (3)

**3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).**

**4. Una vez que hayais terminado eliminad las columnas originales conserv√°nd las nuevas.**