**En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.**

**Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:**

**1. Cread una columna nueva y una funci√≥n que nos el mes donde ocurri√≥ el ataque. Tened en cuenta que no todos las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).**

**üí° Pista üí°Pod√©is usar regex.**

**2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no es as√≠ üò≠. Cread y una columna nueva y una funci√≥n que devuelva unicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.**

**3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).**

**4. Una vez que hayais terminado eliminad las columnas originales conserv√°nd las nuevas.**