**Empezamos los ejercicios depair programming con Pandas. En esta lecciÃ³n hemos aprendido que son las Series y DataFrames y como podemos crearlos en Python.**

In [1]:
import pandas as pd
import numpy as np

**El objetivo de la clase de hoy serÃ¡ crear unos cuÃ¡ntos dataframes y series a trvÃ©s de los siguientes ejercicios:**

**1. Â¿QuÃ© diferencia hay entre una Serie y un Dataframe?**

>**Serie**: una dimensiÃ³n, que contiene un array de datos. Tiene dos componentes principales que son los indices y vector.

>**DataFrame**: 2 dimensiones, se pueden guardar datos de distinto tipo (string, entero, float,..),la diferencia es que hay mÃ¡s dimensiones y por lo tanto podemos tener mas columnas con valores.

**2. Momento de trabajar con Series. Contestas las siguientes preguntas:**

**Crea dos listas:**

- **Una que se llame "valores" que tenga 7 nÃºmeros aleatorios.**
- **Otra que se llame "indices" que tenga 7 strings que se llamen como los dias de la semana.**

**A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los Ã­ndices de la Serie.**

In [2]:
valores = [11,12,13,14,15,16,17]

indices = ["lunes", "martes","miercoles","jueves","viernes","sabado","domingo",]

serie1 = pd.Series(valores, index = indices)

print(serie1)

lunes        11
martes       12
miercoles    13
jueves       14
viernes      15
sabado       16
domingo      17
dtype: int64

**A partir de las dos listas anteriores crea un diccionario usando un for. Para hacer esto tenemos el mÃ©todo zip que nos permite iterar por dos listas a la vez. MÃ¡s informciÃ³n sobre este mÃ©todo aquÃ­.**

In [3]:
valores = [11,12,13,14,15,16,17]
indices = ["lunes", "martes","miercoles","jueves","viernes","sabado","domingo"]

serie2 = {}

for uno,dos in zip(indices,valores): 
    serie2 [uno] = dos

#serie2 = dict((zip(valores,indices)))  # se puede hacer asi, pero con buclo FOR arriba.
print(serie2)

{'lunes': 11, 'martes': 12, 'miercoles': 13, 'jueves': 14, 'viernes': 15, 'sabado': 16, 'domingo': 17}

**Crea una Serie con el diccionario creado en el punto anterior.**

In [4]:
serie2 

serie3 = pd.Series(serie2)
serie3

lunes        11
martes       12
miercoles    13
jueves       14
viernes      15
sabado       16
domingo      17
dtype: int64

- **Â¿QuÃ© forma tiene esta Ãºltima Serie?**
- **Â¿QuÃ© tipo de datos tiene?**
- **Â¿QuÃ© tamaÃ±o tiene?**
- **Â¿CuÃ¡les son los Ã­ndices de la Serie?**
- **Â¿Y los values?**

In [5]:
def propiedades (serie3):
    print("index:", serie3.index) 
    print("values:",serie3.values) 
    print("Forma:", serie3.shape) 
    print("NÂª elementos:", serie3.size) 
    print("Tipo de datos:", serie3.dtype) 

propiedades(serie3)

index: Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')
values: [11 12 13 14 15 16 17]
Forma: (7,)
NÂª elementos: 7
Tipo de datos: int64

- **Extraed el valor para el Ã­ndice "lunes"**
- **Extraed el valor para el Ã­ndice "lunes", "martes" y "miÃ©rcoles"**
- **Extraed el valor para el Ã­ndice "lunes" y "domingo"**

In [6]:
propiedades(serie3)
print("El valor del lunes:", serie3.values[0]) 
print("El valor del lunes,martes y miercoles:",serie3.values[:3])
print("El valor de lunes a domingo:" ,serie3.values[[0,6]])

index: Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')
values: [11 12 13 14 15 16 17]
Forma: (7,)
NÂª elementos: 7
Tipo de datos: int64
El valor del lunes: 11
El valor del lunes,martes y miercoles: [11 12 13]
El valor de lunes a domingo: [11 17]

**3. Es el turno de los dataframes**

- **Cread un array de dos dimensiones con 4 filas y 3 columnas.**

In [7]:
array = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
df = pd.DataFrame(array)

- **Convertid el array en un dataframe donde las columnas se llamen "EspaÃ±a", "Francia" e "Italia".**

In [8]:
df = pd.DataFrame(array, columns = ["EspaÃ±a","Francia","Italia"])
df

   EspaÃ±a  Francia  Italia
0       1        2       3
1       4        5       6
2       7        8       9
3      10       11      12


- **Descargad el archivo "medallas" y cargad el dataframe con la siguiente lÃ­ena de cÃ³digo:**

    > df = pd.read_csv("medallas.csv", index_col=["PaÃ­s"])

**ðŸ“Œ NOTA Para evitar problemas guardar el archivo medallas.csv a la misma altura que el jupyter donde estamos trabajando.**

In [ ]:
df = pd.read_csv("./medallas.csv")
df

- **Usando el loc extraed todas las columnas de la fila.**

In [ ]:
df.loc[0,:]
df

- **Usando el loc extraed todas las columnas de China e IrÃ¡n.**

In [ ]:
df.loc[['China', 'IrÃ¡n'], :]
df

- **Usando el loc extraed solo las columnas de "Oro", "Plata" y "Bronce" de China e IrÃ¡n.**

In [ ]:
df.loc[['China','IrÃ¡n'],'Oro':'Bronce']
df

- **Usando el iloc extraed la informaciÃ³n de la India. Devolved todas las columnas.**

In [ ]:
df.iloc[5,:]
df

- **Usando el iloc extraed todas las columnas de los paises que estÃ©n en posiciÃ³n impar. La primera que nos tendrÃ­a que salir es JapÃ³n y la Ãºltima Corea del Norte.**

In [ ]:
df.iloc[1:10:2, :]
print(df)

- **Utilizando el cÃ³digo del ejercicio anterior, seleccionad unicamente las columnas "Oro", "Plata" y "Bronce".**

In [ ]:
df.iloc[1::2,1:]

   **Contestad a las siguientes preguntas:**

- **Â¿QuÃ© paÃ­s consiguiÃ³ mÃ¡s de 200 medallas de oro?**

In [ ]:
df.loc[df.Oro > 200,:] 
df

- **Â¿QuÃ© paÃ­s consiguiÃ³ mÃ¡s de 200 medallas de oro y mÃ¡s de 1000 de plata?**

In [ ]:
df.loc[(df.Oro > 200) & (df.Plata > 1000)]
df

- **Â¿QuÃ© paÃ­s consiguiÃ³ mÃ¡s de 200 medallas de oro o mÃ¡s de 700 de bronce?**

In [ ]:
df.loc[(df.Oro > 200) | (df.Bronce > 700)]
df

**Como vemos hay una columna que se llama Unnamed: 0 que no nos interesa. Eliminad esa columna.**

In [ ]:
df = df.drop(["Unnamed: 0"], axis=1) # 0 es filas y 1 es columnas

#Se puede ultizar "del", para eliminar solo una columna. "drop" podemos utilizar para eliminar varias columnas a la vez.
#del df['Unnamed:0 ']

**Cread una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada paÃ­s.**

In [ ]:
df = df.assign(total_medallas = df["Oro"] + df["Plata"] + df["Bronce"])
df